<!-- start header -->
<header class="header-with-topbar">
    <!-- start header top bar -->
    <div
        class="header-top-bar top-bar-light bg-base-color disable-fixed md-border-bottom border-color-transparent-dark-very-light">
        <div class="container-fluid">
            <div class="row h-40px align-items-center m-0">
                <div class="col-12 justify-content-center alt-font fs-13 fw-500 text-uppercase">
                    <div class="text-dark-gray">Enjoy FREE standard delivery on orders over $100.</div>
                    <a href="#" class="text-dark-gray fw-600 ms-5px text-dark-gray-hover"><span
                            class="text-decoration-line-bottom">Shop now</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end header top bar -->
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed center-logo">
        <div class="container-fluid">
            <div class="col-auto col-xxl-3 col-lg-2 menu-logo">
                <div class="header-icon d-none d-lg-flex">
                    <div class="widget-text icon alt-font">
                        <a routerLink="/contact"><i data-feather="map-pin"
                                class="feather icon-feather-map-pin d-inline-block me-5px"></i><span
                                class="d-none d-xxl-inline-block">Find stores</span></a>
                    </div>
                    <div class="widget-text icon alt-font">
                        <a href="https://www.instagram.com/mr.geerish_26.10/" target="_blank"><i
                                data-feather="instagram"
                                class="feather icon-feather-instagram d-inline-block me-5px"></i><span
                                class="d-none d-xxl-inline-block">100k Followers</span></a>
                    </div>
                </div>
                <a class="navbar-brand" href="index.html">
                    <img src="images/demo-fashion-store-logo-black.png"
                        data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="default-logo">
                    <img src="images/demo-fashion-store-logo-black.png"
                        data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="alt-logo">
                    <img src="images/demo-fashion-store-logo-black.png"
                        data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="mobile-logo">
                </a>
            </div>
            <div class="col-auto col-xxl-6 col-lg-8 menu-order">
                <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav alt-font navbar-left justify-content-end">
                        <li class="nav-item">
                            <a routerLink="/home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a routerLink="/shop" class="nav-link">Shop</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1">
                                <div class="d-lg-flex mega-menu m-auto flex-column">
                                    <div
                                        class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 mb-50px md-mb-25px xs-mb-15px">
                                        <div class="col" *ngFor="let category of categories">
                                            <ul>
                                                <li class="sub-title fw-bold">
                                                    <a href="javascript:void(0);" class="fw-bold" (click)="redirectToShopList('category', category.id)">
                                                        {{ category.catname }}
                                                    </a>
                                                </li>
                                                <ul>
                                                    <li *ngFor="let item of category.subcategories">
                                                        <a href="javascript:void(0);" (click)="redirectToShopList('subcategory', item.id)">
                                                            {{ item.subcategory_name }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-sm-2">
                                        <div class="col">
                                            <a href="demo-fashion-store-shop.html"><img
                                                    src="https://via.placeholder.com/580x175" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <a href="demo-fashion-store-shop.html"><img
                                                    src="https://via.placeholder.com/580x175" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="nav-item dropdown submenu">
                            <a class="nav-link" [routerLink]="'/collection'">Collection</a>

                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="d-lg-flex mega-menu m-auto flex-column">
                                    <div
                                        class="row row-cols-2 row-cols-lg-6 row-cols-md-3 row-cols-sm-2 md-mx-0 align-items-center justify-content-center">
                                        <div class="col md-mb-25px">
                                            <a href="demo-fashion-store-collection.html"
                                                class="justify-content-center mb-10px">
                                                <img src="https://via.placeholder.com/190x140"
                                                    class="border-radius-4px w-100" alt="">
                                            </a>
                                            <a href="demo-fashion-store-collection.html"
                                                class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                <span>
                                                    <span class="btn-text text-dark-gray fs-17">Polo t-shirts</span>
                                                    <span class="btn-icon"><i
                                                            class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col md-mb-25px">
                                            <a href="demo-fashion-store-collection.html"
                                                class="justify-content-center mb-10px">
                                                <img src="https://via.placeholder.com/190x140"
                                                    class="border-radius-4px w-100" alt="">
                                            </a>
                                            <a href="demo-fashion-store-collection.html"
                                                class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                <span>
                                                    <span class="btn-text text-dark-gray fs-17">Sunglasses</span>
                                                    <span class="btn-icon"><i
                                                            class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col md-mb-25px">
                                            <a href="demo-fashion-store-collection.html"
                                                class="justify-content-center mb-10px">
                                                <img src="https://via.placeholder.com/190x140"
                                                    class="border-radius-4px w-100" alt="">
                                            </a>
                                            <a href="demo-fashion-store-collection.html"
                                                class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                <span>
                                                    <span class="btn-text text-dark-gray fs-17">Skinny blazer</span>
                                                    <span class="btn-icon"><i
                                                            class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col sm-mb-25px">
                                            <a href="demo-fashion-store-collection.html"
                                                class="justify-content-center mb-10px">
                                                <img src="https://via.placeholder.com/190x140"
                                                    class="border-radius-4px w-100" alt="">
                                            </a>
                                            <a href="demo-fashion-store-collection.html"
                                                class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                <span>
                                                    <span class="btn-text text-dark-gray fs-17">Casual shoes</span>
                                                    <span class="btn-icon"><i
                                                            class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a href="demo-fashion-store-collection.html"
                                                class="justify-content-center mb-10px">
                                                <img src="https://via.placeholder.com/190x140"
                                                    class="border-radius-4px w-100" alt="">
                                            </a>
                                            <a href="demo-fashion-store-collection.html"
                                                class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                <span>
                                                    <span class="btn-text text-dark-gray fs-17">Winter jackets</span>
                                                    <span class="btn-icon"><i
                                                            class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a href="demo-fashion-store-collection.html"
                                                class="justify-content-center mb-10px">
                                                <img src="https://via.placeholder.com/190x140"
                                                    class="border-radius-4px w-100" alt="">
                                            </a>
                                            <a href="demo-fashion-store-collection.html"
                                                class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                <span>
                                                    <span class="btn-text text-dark-gray fs-17">Men's shorts</span>
                                                    <span class="btn-icon"><i
                                                            class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav alt-font navbar-right justify-content-start">
                        <li class="nav-item">
                            <a  [routerLink]="'/magazines'" class="nav-link">Magazine</a>
                        </li>
                        <!-- <li class="nav-item dropdown simple-dropdown">
                            <a href="javascript:void(0);" class="nav-link">Pages</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a href="demo-fashion-store-about.html">About</a></li>
                                <li><a href="demo-fashion-store-faq.html">Faq</a></li>
                                <li><a href="demo-fashion-store-wishlist.html">Wishlist</a></li>
                                <li><a href="demo-fashion-store-account.html">Account</a></li>
                                <li><a href="demo-fashion-store-cart.html">Cart</a></li>
                                <li><a href="demo-fashion-store-checkout.html">Checkout</a></li>
                            </ul>
                        </li> -->
                        <li class="nav-item">
                            <a routerLink="/contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-auto col-xxl-3 col-lg-2 text-end">
                <div class="header-icon">
                    <div class="header-search-icon icon alt-font">
                        <a href="javascript:void(0)" class="search-form-icon header-search-form"><i
                                data-feather="search" class="feather icon-feather-search me-5px"></i><span
                                class="d-none d-xxl-inline-block">Search</span></a>
                        <div class="search-form-wrapper">
                            <button title="Close" type="button" class="search-close alt-font">×</button>
                            <form id="search-form" role="search" method="get" class="search-form text-left"
                                action="search-result.html">
                                <div class="search-form-box">
                                    <h2 class="text-dark-gray text-center mb-4 fw-600 alt-font ls-minus-1px">What are
                                        you looking for?</h2>
                                    <input class="search-input alt-font" id="search-form-input5e219ef164995"
                                        placeholder="Enter your keywords..." name="s" value="" type="text"
                                        autocomplete="off">
                                    <button type="submit" class="search-button">
                                        <i data-feather="search" class="feather icon-feather-search"
                                            aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-text icon alt-font dropdown">
                        <a href="javascript:void(0);">
                            <i data-feather="user" class="feather icon-feather-user d-inline-block me-5px"></i>
                            <span class="d-none d-xxl-inline-block">Account</span>
                        </a>
                        <!-- Dropdown content -->
                        <ul class="account-item-list">
                            <li><a routerLink="/profile">Profile</a></li>
                            <li><a routerLink="/wishlist">Wishlist</a></li>
                            <li><a (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                    <div class="header-cart-icon icon">
                        <div class="header-cart dropdown">
                            <a href="javascript:void(0);"><i data-feather="shopping-bag"
                                    class="feather icon-feather-shopping-bag"></i><span
                                    class="cart-count alt-font text-white bg-dark-gray">{{contextService.cart()?.data?.length
                                    || 0}}</span></a>
                            <ul class="cart-item-list">
                                <li class="cart-item align-items-center"
                                    *ngFor="let item of contextService.cart()?.data">
                                    <a href="javascript:void(0);" class="alt-font close"
                                        (click)="removeItemFromCart(item?.id)">×</a>
                                    <div class="product-image">
                                        <a [routerLink]="['/shop/product', item?.product?.id]"><img
                                                [src]="imgBaseUrl + item?.product?.image_file" class="cart-thumb"
                                                alt=""></a>
                                    </div>
                                    <div class="product-detail fw-600">
                                        <a
                                            [routerLink]="['/shop/product', item?.product?.id]">{{item?.product?.name}}</a>
                                        <span class="item-ammount fw-400">{{item?.quantity}} x
                                            ${{item?.product?.price}}</span>
                                    </div>
                                </li>
                                <li class="cart-total">
                                    <div class="fs-18 alt-font mb-15px"><span
                                            class="w-50 fw-500 text-start">Subtotal:</span><span
                                            class="w-50 text-end fw-700">${{calculateSubTotal(contextService.cart())}}</span>
                                    </div>
                                    <a routerLink="/shopping-cart"
                                        class="btn btn-large btn-transparent-light-gray border-color-extra-medium-gray">View
                                        cart</a>
                                    <a routerLink="/checkout"
                                        class="btn btn-large btn-dark-gray btn-box-shadow">Checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- end header -->