.categories-box {
  height: 300px; /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9; /* Optional: Set a background color */
}

.categories-box img {
  height: auto;
  width: 100%;
  max-height: 200px; /* Adjust this value as needed */
  object-fit: cover; /* Ensures the image scales while maintaining aspect ratio */
  display: block;
}

.absolute-bottom-center {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
