
<section class="top-space-margin half-section bg-gradient-very-light-gray">
  <div class="container">
      <div class="row align-items-center justify-content-center" data-custom-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
          <div class="col-12 col-xl-8 col-lg-10 text-center position-relative page-title-extra-large">
              <h1 class="alt-font fw-600 text-dark-gray mb-10px">Magazine</h1> 
          </div>
          <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
              <ul>
                  <li><a href="index.html">Home</a></li> 
                  <li>Magazine</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- end section --> 
<!-- start section -->
<section class="pt-0 ps-7 pe-7 lg-ps-3 lg-pe-3 xs-px-0">
  <div class="container-fluid"> 
      <div class="row">
        <div class="col-12">
            <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-2 row-cols-md-2"
                data-custom-anime='{ "el": "childs", "translateY": [-15, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 400, "delay": 100, "staggervalue": 200, "easing": "easeOutQuad" }'>
                <!-- start blog item -->
                <div class="col categories-style-02 lg-mb-30px shadow-lg pt-2 me-2 blog-overflow"
                    *ngFor="let blog of blogs" [routerLink]="['/magazines', blog?.id]">
                    <div class="card bg-transparent border-0 h-100">
                        <div class="blog-image position-relative overflow-hidden">
                            <a><img [src]="imgBaseUrl + blog?.blogimage" alt="" /></a>
                        </div>
                        <div class="card-body px-0 pt-30px pb-30px sm-pb-15px">
                            <span class="mb-5px d-block">
                                By <a href="#" class="text-dark-gray fw-500 categories-text">{{blog?.author}}</a>
                                <a href="#" class="blog-date float-end">{{blog?.updated_at | date}}</a>
                            </span>
                            <a href="demo-fashion-store-blog-single-creative.html"
                                class="alt-font card-title fs-20 lh-30 fw-500 text-dark-gray d-inline-block w-75 xl-w-85 lg-w-100">
                                {{blog?.title}}.
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div> 
      </div>
      <div class="w-100 d-flex mt-4 justify-content-center md-mt-30px">
        <ngb-pagination 
            [page]="currentPage" 
            [collectionSize]=11
            [pageSize]="pageSize"
            [maxSize]="5" 
            [boundaryLinks]="true" 
            [ellipses]="true" 
            (pageChange)="onPageChange($event)"
            class="pagination-style-01 fs-13 fw-500 mb-0">
        </ngb-pagination>
    </div>
  </div>
</section>


<app-script-load></app-script-load>