<!-- <section class="pt-0 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="container card shadow-lg rounded">
    <div class="row g-0 justify-content-center card-body">
      <div class="col-xl-4 col-lg-5 col-md-10 contact-form-style-04 md-mb-50px"
        data-custom-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
        <span class="fs-26 xs-fs-24 alt-font fw-600 text-dark-gray mb-20px d-block">Sign In</span>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label class="text-dark-gray mb-10px fw-500">
            Username or email address<span class="text-red">*</span>
          </label>
          <input class="mb-20px bg-very-light-gray form-control"
            [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched" formControlName="email"
            type="email" name="email" placeholder="Enter your username or email" />
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red">
            <small *ngIf="form.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email address.</small>
          </div>

          <label class="text-dark-gray mb-10px fw-500">
            Password<span class="text-red">*</span>
          </label>
          <input class="mb-20px bg-very-light-gray form-control"
            [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched"
            formControlName="password" type="password" name="password" placeholder="Enter your password" />
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red">
            <small *ngIf="form.get('password')?.errors?.['required']">Password is required.</small>
          </div>

          <div class="position-relative terms-condition-box text-start d-flex align-items-center mb-20px">
            <a class="fs-14 text-dark-gray fw-500 text-decoration-line-bottom ms-auto">Forgot your
              password?</a>
          </div>

          <input type="hidden" name="redirect" value="" />

          <button class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow submit w-100" type="button"
            (click)="onSubmit()" [disabled]="form.invalid">
            Login
          </button>
          <div class="position-relative terms-condition-box text-start d-flex align-items-center mb-20px">
            <a routerLink="/auth/sign-up" class="fs-14 text-dark-gray fw-500 text-decoration-line-bottom ms-auto">Click
              here to create new account | Register
            </a>
          </div>
          <div class="form-results mt-20px d-none"></div>
        </form>

      </div>
    </div>
  </div>
</section>

<app-script-load></app-script-load> -->



<!-- <app-script-load></app-script-load>  -->

<div id="container" class="container">
  <div class="row w-full">
    <div class="col align-items-center flex-col sign-up">
      <form [formGroup]="signUpForm" (ngSubmit)="onSignup()" class="form-wrapper align-items-center">
        <div class="form sign-up">
          <div class="input-group">
            <i class="feather icon-feather-user"></i>
            <input type="text" placeholder="Name" formControlName="name">
          </div>
          <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-red">
            <small *ngIf="form.get('name')?.errors?.['required']">Name is required.</small>
          </div>
          <div class="input-group">
            <i class="feather icon-feather-email"></i>
            <input type="email" placeholder="Email" formControlName="email">
          </div>
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red">
            <small *ngIf="form.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email address.</small>
          </div>
          <div class="input-group">
            <i class="feather icon-feather-lock"></i>
            <input type="password" placeholder="Password" formControlName="password">
          </div>
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red">
            <small *ngIf="form.get('password')?.errors?.['required']">Password is required.</small>
          </div>
          <div class="input-group">
            <i class="feather icon-feather-lock"></i>
            <input type="password" placeholder="Confirm password" formControlName="password_confirmation">
          </div>
          <div *ngIf="form.get('password_confirmation')?.invalid && form.get('password_confirmation')?.touched"
            class="text-red">
            <small *ngIf="form.get('password_confirmation')?.errors?.['required']">Password confirmation is
              required.</small>
            <small *ngIf="form.get('password_confirmation')?.errors?.['mustMatch']">Passwords must match.</small>
          </div>
          <button type="submit">Sign up</button>
          <p>
            <span>Already have an account?</span>
            <b (click)="toggle()" class="pointer">Sign in here</b>
          </p>
        </div>
      </form>
    </div>
    <div class="col align-items-center flex-col sign-in">
      <form [formGroup]="form" (ngSubmit)="signIn()" class="form-wrapper align-items-center">
        <div class="form sign-in">
          <div class="input-group">
            <i class="feather icon-feather-user"></i>
            <input type="text" placeholder="Username" formControlName="email">
          </div>
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red">
            <small *ngIf="form.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email address.</small>
          </div>
          <div class="input-group">
            <i class="feather icon-feather-lock"></i>
            <input type="password" placeholder="Password" formControlName='password'>
          </div>
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red">
            <small *ngIf="form.get('password')?.errors?.['required']">Password is required.</small>
          </div>
          <button type="submit">Sign in</button>
          <p><b>Forgot password?</b></p>
          <p>
            <span>Don't have an account?</span>
            <b (click)="toggle()" class="pointer">Sign up here</b>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="row content-row">
    <div class="col align-items-center flex-col">
      <div class="text sign-in">
        <h2>Welcome to <br> Bear Cali</h2>
      </div>
      <div class="img sign-in"></div>
    </div>
    <div class="col align-items-center flex-col">
      <div class="img sign-up"></div>
      <div class="text sign-up">
        <h2>Join with us</h2>
      </div>
    </div>
  </div>
</div>