<app-script-load></app-script-load>
<section class="pt-0 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="container card shadow-lg rounded">
    <div class="row g-0 justify-content-center card-body">
      <div class="col-xl-4 col-lg-5 col-md-10 contact-form-style-04 md-mb-50px"
        data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
        <span class="fs-26 xs-fs-24 alt-font fw-600 text-dark-gray mb-20px d-block">Sign In</span>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Email Field -->
          <label class="text-dark-gray mb-10px fw-500">
            Username or email address<span class="text-red">*</span>
          </label>
          <input class="mb-20px bg-very-light-gray form-control"
            [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched" formControlName="email"
            type="email" name="email" placeholder="Enter your username or email" />
          <!-- Validation message for email -->
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red">
            <small *ngIf="form.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email address.</small>
          </div>

          <!-- Password Field -->
          <label class="text-dark-gray mb-10px fw-500">
            Password<span class="text-red">*</span>
          </label>
          <input class="mb-20px bg-very-light-gray form-control"
            [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched"
            formControlName="password" type="password" name="password" placeholder="Enter your password" />
          <!-- Validation message for password -->
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red">
            <small *ngIf="form.get('password')?.errors?.['required']">Password is required.</small>
          </div>

          <!-- Remember me checkbox -->
          <div class="position-relative terms-condition-box text-start d-flex align-items-center mb-20px">
            <!-- <label>
              <input
                type="checkbox"
                formControlName="rememberMe"
                class="terms-condition check-box align-middle"
              />
              <span class="box fs-14">Remember me</span>
            </label> -->
            <a href="#" class="fs-14 text-dark-gray fw-500 text-decoration-line-bottom ms-auto">Forgot your
              password?</a>
          </div>

          <input type="hidden" name="redirect" value="" />

          <!-- Submit Button -->
          <button class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow submit w-100" type="button" (click)="onSubmit()"
            [disabled]="form.invalid">
            Login
          </button>

          <div class="form-results mt-20px d-none"></div>
        </form>

      </div>
    </div>
  </div>
</section>